{{ define "home" }}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>CDIP Demo</title>
    </head>
    <body>
        <div id="top">
            <h1>CDIP Demo</h1>
        </div>
    </body>
</html>
{{ end }}
